* {
                margin:0px;
                padding:0px;
}

 header{
    height: 200px;
    background-color: red;
}

#foto_grande{
    margin: 0 auto;
    width: 80%;
    min-width: 150px;
    
    height:300px;
    background-color: blue;
}

#mommy{
    border: 2px solid blue;
    width: 100%;
    padding-top: 20px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
   /* -webkit-box-direction:reverse; /*Honekin ordena alda daiteke*/
    /*width: 700px; /*Neurriaren araberakoa jartzeko*/
   -webkit-box-pack:center; /*Zentratzeko aukera ematen digu*/
    height: 1000px;
    -webkit-box-align:center; /*Vertical align*/
    -webkit-box-align:stretch; /*HOnekin barruko guztiak derrigortzen dira bertikalean dena neurtzera. HOnetarako, height balioa kendu behar zaie.*/
    
}
#kid1{
    border: 2px solid red;
    background: green;
    padding: 20px;
    margin: 10px;
    /*-webkit-box-ordinal-group: 3; /*Zein ordenetan jarri*/
    -webkit-box-flex:1;
}
#kid2{
    border: 2px solid red;
    background: yellow;
    padding: 20px;
    margin: 10px;
   /* -webkit-box-ordinal-group: 1;*/
  /*  -webkit-box-flex:2; /*HOnekin bat flexible jartzen degu biren lekua hartuaz bere espazioan.*/
    -webkit-box-flex:1;
    height: 100px;
}
#kid3{
    border: 2px solid red;
    background: red;
    padding: 20px;
    margin: 10px;
    -webkit-box-flex:1;
   /* -webkit-box-ordinal-group: 4;*/
    height: 100px;
}
#kid4{
    border: 2px solid red;
    background: orange;
    padding: 20px;
    margin: 10px;
    -webkit-box-flex:1;
   /* -webkit-box-ordinal-group: 2;*/
    height: 100px;
}

#kid5{
    border: 2px solid red;
    background: green;
    padding: 20px;
    margin: 10px;
    -webkit-box-flex:1;
   /* -webkit-box-ordinal-group: 2;*/
    height: 100px;
}

img:hover{ 
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5)
}

/************************/

 * {
    margin:0px;
    padding:0px;
}
            
#menu {
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 0 auto;
    height: 40px;
}

ul, ol {
    list-style:none;
}

.nav {
    width:500px; /*Le establecemos un ancho*/
    margin:0 auto; /*Centramos automaticamente*/
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:#434343;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}


































































