* {
    margin:0px;
    padding:0px;
    font-family: sans-serif;
}

/********************Cabezera************************/
 header{
    width: 100%;
    height: 200px;
}

/*******************Fotos Arriba***********************/

#foto_grande{ 
    margin: 0 auto;
    width: 74%;
    min-width: 150px;
    height:300px;
    background-color: black;
    margin-top: 20px;
}

#foto1{
    float: left;
    width: 50%;
    height:300px;
    background-color: blue;
}
#foto2{
    float: left;
    width: 25%;
    height:150px;
    background-color: red;
}
#foto3{
    float: left;
    width: 25%;
    height:150px;
    background-color: green;
}
#foto4{
    float: left;
    width: 25%;
    height:150px;
    background-color: purple;
}
#foto5{
    float: left;
    width: 25%;
    height:150px;
    background-color: yellow;
}

/*****************************Parte central******************/

#contenedor{
    /*border: 2px solid blue;*/
    width: 100%;
    padding-top: 20px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
   -webkit-box-pack:center; 
    height: 500px;
    -webkit-box-align:center; 
    -webkit-box-align:stretch; 
}
#colum1{
    padding: 20px;
    margin: 10px;
    -webkit-box-flex:1;
}
#colum2{

    background: #C0C0C0;
    padding: 20px;
    margin: 10px;
    -webkit-box-flex:4;

}
#colum3{

    background: #C0C0C0;
    padding: 20px;
    margin: 10px;
    -webkit-box-flex:2;

}
#colum4{

    background: #C0C0C0;
    padding: 20px;
    margin: 10px;
    -webkit-box-flex:2;

}

#colum5{
    padding: 20px;
    margin: 10px;
    -webkit-box-flex:1;
}

#foto_grande img:hover{ 
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

/**********MENU**************/

 * {
    margin:0px;
    padding:0px;
}
            
#menu {
    width:100%;
    font-weight: bold;
    background-color: #C0C0C0 ;
    margin: 0 auto;
    height: 38px;
}

ul, ol {
    list-style:none;
}

.nav {
    width:750px;
    margin:0 auto; 
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:#C0C0C0 ;
    color:#fff;
    text-decoration:none;
    padding:10px 20px;
    display:block;
}

.nav li a:hover {
    background-color:#909090 ;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

/**********************Pie de pagina************************/
footer{
    width: 100%;
    height: 75px;
    background-color: #C0C0C0;
}

footer section{
    margin: 0 auto;
    width: 30%;
    display: -webkit-box;
    -webkit-box-orient: horizontal;

}
#red1{

    margin: 10px;
    -webkit-box-flex:1;
}
#red2{
    margin: 10px;
    -webkit-box-flex:1;
}
#red3{
    margin: 10px;
    -webkit-box-flex:1;
}
#red4{
    margin: 10px;
    -webkit-box-flex:1;
}

#red5{
    margin: 10px;
    -webkit-box-flex:1;
}


































































