* {
    margin:0px;
    padding:0px;
    font-family: sans-serif;
}

/********************Cabezera************************/
 header{
    background-color:  #FFCC66;
    height: 100%;
}

#cabe{
    width: 100%;
}

/**********MENU**************/          
#menu {
    width:100%;
    font-weight: bold;
    background-color: #C0C0C0 ;
    margin: 0 auto;
    height: 38px;
}

ul, ol {
    list-style:none;
}

.nav {
    width:750px;
    margin:0 auto; 
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:#C0C0C0 ;
    color:#fff;
    text-decoration:none;
    padding:10px 20px;
    display:block;
}

.nav li a:hover {
    background-color:#909090 ;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}
/*******************Fotos Arriba***********************/

#foto_grande{ 
    margin: 0 auto;
    width: 74%;
    min-width: 150px;
    height:300px;
    background-color: black;
    margin-top: 20px;
}

#foto1{
    float: left;
    width: 50%;
    height:300px;
    background-color: blue;
}
#foto2{
    float: left;
    width: 25%;
    height:150px;
    background-color: red;
}
#foto3{
    float: left;
    width: 25%;
    height:150px;
    background-color: green;
}
#foto4{
    float: left;
    width: 25%;
    height:150px;
    background-color: purple;
}
#foto5{
    float: left;
    width: 25%;
    height:150px;
    background-color: yellow;
}

/*****************************Parte central******************/

#contenedor{
    /*border: 2px solid blue;*/
    width: 100%;
    min-width: 200px;
    padding-top: 20px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
   -webkit-box-pack:center; 
    height: 600px;
    -webkit-box-align:center; 
    -webkit-box-align:stretch; 
}
#colum1{
    max-width: 100px;
    min-width: 0px;
    padding: 20px;
    margin: 20px;
    -webkit-box-flex:1;
    
}
#colum2{
    max-width: 450px;
    min-width: 170px;
    padding: 20px;
    margin: 20px;
    -webkit-box-flex:4; 
}
#colum3{
    max-width: 200px;
    min-width: 110px;
    padding: 20px;
    margin: 20px;
    -webkit-box-flex:2;
    

}
#colum4{
    
    max-width: 160px;
    min-width: 110px;
    padding: 20px;
    margin: 20px;
    -webkit-box-flex:2;
}

#colum5{
    max-width: 100px;
    min-width: 0px;
    padding: 20px;
    margin: 20px;
    -webkit-box-flex:1;
    
}

#foto_grande img:hover{ 
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
/***********************Estilos Parte Cemtral***************/

.imagen1{
    width: 100%;
    height: 40%;
}

.imagen2{
    width: 100%;
    height: 40%;
}

h3{
    font-family:sans-serif;
    color: #FFCC66;
}
p{
    color: #383838;
}

.link{
    margin-top: 0px;
    font-family:sans-serif;
    font-style: italic;
    color: #FFCC66;
}

/***********************Formulario***************************/
#miForm{
    width: 100%;
}
#miForm input[type="text"]{
    width: 100%;
    border-radius: 10px;
    border-style: none;
    margin: 5px;
    height: 25px;
    background-color: #C0C0C0;
    color:#fff;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
}

#miForm input[type="submit"] {
    width: 100%;
    height: 30px;
    margin: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border-style: none;
    background-color: #787878 ;
 
    cursor: pointer;

}

#miForm input[type="submit"]:hover {
    background-color: #484848 ;
}

/**********************Pie de pagina************************/
footer{
    margin-top: 150px;
    width: 100%;
    height: 75px;
    background-color: #C0C0C0;
}

footer section{
    margin: 0 auto;
    width: 30%;
    min-width: 200px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}
footer section img{
    margin-left: 5px;
}

#red1{

    margin: 10px;
    -webkit-box-flex:1;
}
#red2{
    margin: 10px;
    -webkit-box-flex:1;
}
#red3{
    margin: 10px;
    -webkit-box-flex:1;
}
#red4{
    margin: 10px;
    -webkit-box-flex:1;
}

#red5{
    margin: 10px;
    -webkit-box-flex:1;
}
































































