
* { margin: 0; padding: 0; }

/************************SLIDER**************************/

#slider {
    z-index: 1;
    background: #1A1A1A;
    width: 50%;
    display: block;
    height: 440px;
    min-width: 260px;
    margin: 0 auto;
    position: absolute;
    top: 0px;
    left: 25%;
   /* position: relative;*/
}

#sliderinner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#sliderinner>ul {
    list-style: none;
    height: 100%;
    width: 500%;
    overflow: hidden;
    position: relative;
    left: 0px;
    -webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}

#sliderinner>ul>li {
    width: 20%;
    height: 100%;
    float: left;
    position: relative;
}

#sliderinner>ul>li>img {
    margin: auto;
    height: 100%;
    width: 100%;
}

#slider input[type=radio] {
    position: absolute;
    left: 50%;
    bottom: 15px;
    z-index: 100;
    visibility: hidden;
}

#slider label {
    position: absolute;
    left: 50%;
    bottom: -45px;
    z-index: 100;
    width: 12px;
    height: 12px;
    background-color:#ccc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    /*border-radius: 50%;*/
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

#slider input[type=radio]#control1:checked~label[for=control1] { background-color: #333; }
#slider input[type=radio]#control2:checked~label[for=control2] { background-color: #333; }
#slider input[type=radio]#control3:checked~label[for=control3] { background-color: #333; }
#slider input[type=radio]#control4:checked~label[for=control4] { background-color: #333; }
#slider input[type=radio]#control5:checked~label[for=control5] { background-color: #333; }
#slider label[for=control1] { margin-left: -36px }
#slider label[for=control2] { margin-left: -18px }
#slider label[for=control4] { margin-left: 18px }
#slider label[for=control5] { margin-left: 36px }
#slider input[type=radio]#control1:checked~#sliderinner>ul { left: 0 }
#slider input[type=radio]#control2:checked~#sliderinner>ul { left: -100% }
#slider input[type=radio]#control3:checked~#sliderinner>ul { left: -200% }
#slider input[type=radio]#control4:checked~#sliderinner>ul { left: -300% }
#slider input[type=radio]#control5:checked~#sliderinner>ul { left: -400% }

.description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family:sans-serif;

}
.description-text {
    font-family: courier, 'courier new',monospace;
    background: #1A1A1A;
    opacity: 1;
    padding:10px;
    top: 0;
    left: 50px;
    z-index: 4;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    color: #fff;
}

/************************VIDEO***********************/

body{

}
header,section,nav{
  /*  display:block;*/
}

#skin{
    width: 673px;
    height: 400px;
    padding: 5px;
    background: #1A1A1A;
    border-radius: 4px;
}

#myMovie{
    width: 100%;
}

nav{
    margin: 5px 0px;
}
#buttons{
    float: left;
    width:70px;
    height: 22px;
    cursor: pointer;
}

#buttons img{

        width:40px;
}
#defaultBar{
    position: relative;
    float: left;
    width: 585px;
    height: 8px;
    margin: 6px;
    padding: 2px;
    /*border: 2px solid black;*/
    background: grey;
}

#progressBar{
    position: absolute;
    width:0px;
    height: 8px;
    background:#3D3A3A;
}
